/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Family */
body {
  font-family: 'Times New Roman', Times, serif;
}

/* Main Container */
main {
  padding: 20px;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; /* Rata tengah secara horizontal */
  align-items: flex-start; /* Posisi awal (flex-start) secara vertikal */
}

/* Title Style */
.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* Input Style */
input {
  width: 100%;
  max-width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 16px;
}

/* Header Style */
header {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  background-color: #6d1f09; /* Menggunakan warna dari color palette */
  color: #eee4d0; /* Menggunakan warna dari color palette */
  margin-bottom: 16px;
}

header h2 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 16px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .card-container {
    justify-content: flex-start; /* Rata tengah secara horizontal */
  }

  .title {
    font-size: 24px;
  }
}
